<h3>Add a new item</h3>

<form action="/add-website" method="post">
  <div class="form-group">
    <label for="name">Name</label>
    <input type="text" class="form-control" id="name" name="name">
  </div>
  <div class="form-group">
    <label for="tomato">URL</label>
    <input type="text" class="form-control" id="tomato" name="url">
  </div>
  <button class="btn btn-danger">Add</button>
</form>