<h3>Edit the item</h3>

<form action="/edit-website/{{website._id}}" method="post">
  Name: <input type="text" name="name" value="{{website.name}}"><br>
  URL: <input type="text" name="url" value="{{website.url}}"><br>
  <button>Edit</button>
</form>